body {
  margin: 0;
  font-family: 'SpoqaHanSansNeo', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 100;
  src: url("./Fonts/SpoqaHanSansNeo-Light.woff2") format('woff2'),
  url("./Fonts/SpoqaHanSansNeo-Light.woff") format('woff'),
  url("./Fonts/SpoqaHanSansNeo-Light.ttf") format('truetype')
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: normal;
  src: url("./Fonts/SpoqaHanSansNeo-Regular.woff2") format('woff2'),
  url("./Fonts/SpoqaHanSansNeo-Regular.woff") format('woff'),
  url("./Fonts/SpoqaHanSansNeo-Regular.ttf") format('truetype')
}


@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 500;
  src: url("./Fonts/SpoqaHanSansNeo-Medium.woff2") format('woff2'),
  url("./Fonts/SpoqaHanSansNeo-Medium.woff") format('woff'),
  url("./Fonts/SpoqaHanSansNeo-Medium.ttf") format('truetype')
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: bold;
  src: url("./Fonts/SpoqaHanSansNeo-Bold.woff2") format('woff2'),
  url("./Fonts/SpoqaHanSansNeo-Bold.woff") format('woff'),
  url("./Fonts/SpoqaHanSansNeo-Bold.ttf") format('truetype')
}